<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Rewrite 2017/06/17/Using-MarvinJsonPatch-and-Swashbuckle-to-Generate-Swagger-Documents" stopProcessing="true">
					<match url="2017/06/17/Using-MarvinJsonPatch-and-Swashbuckle-to-Generate-Swagger-Documents" ignoreCase="true" />
					<action type="Redirect" url="/2017/06/17/Using-Marvin-JsonPatch-and-Swashbuckle-to-Generate-Swagger-Documents" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2015/12/21/IIS-Express-The-Specified-Port-Is-In-Use" stopProcessing="true">
					<match url="2015/12/21/IIS-Express-The-Specified-Port-Is-In-Use" ignoreCase="true" />
					<action type="Redirect" url="/2015/12/21/IIS-Express-The-Specified-Port-Is-In-Use" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2015/05/28/Tips-for-Setting-up-SSAS-Access-over-IISHTTP" stopProcessing="true">
					<match url="2015/05/28/Tips-for-Setting-up-SSAS-Access-over-IISHTTP" ignoreCase="true" />
					<action type="Redirect" url="/2015/05/28/Tips-for-Setting-up-SSAS-Access-over-IIS-HTTP" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2015/04/15/Running-Multiple-Commented-out-SQL-Queries-at-Once" stopProcessing="true">
					<match url="2015/04/15/Running-Multiple-Commented-out-SQL-Queries-at-Once" ignoreCase="true" />
					<action type="Redirect" url="/2015/04/15/Running-Multiple-Commented-out-SQL-Queries-at-Once" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2014/07/16/CSS-Bundling-the-jQuery-UI-Theme" stopProcessing="true">
					<match url="2014/07/16/CSS-Bundling-the-jQuery-UI-Theme" ignoreCase="true" />
					<action type="Redirect" url="/2014/07/16/CSS-Bundling-the-jQuery-UI-Theme" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2014/05/30/granting-execute-rights-on-every-stored-procedure-is-a-pain" stopProcessing="true">
					<match url="2014/05/30/granting-execute-rights-on-every-stored-procedure-is-a-pain" ignoreCase="true" />
					<action type="Redirect" url="/2014/05/30/granting-execute-rights-on-every-stored-procedure-is-a-pain" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2014/04/23/AngularJS-Routing-Using-Otherwise-without-redirectTo-or-how-to-make-a-404-page" stopProcessing="true">
					<match url="2014/04/23/AngularJS-Routing-Using-Otherwise-without-redirectTo-\(or-how-to-make-a-404-page\)" ignoreCase="true" />
					<action type="Redirect" url="/2014/04/24/AngularJS-Routing-Using-Otherwise-without-redirectTo-or-how-to-make-a-404-page" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2014/04/07/Memory-Streams-to-Close-or-Dispose" stopProcessing="true">
					<match url="2014/04/07/Memory-Streams-to-Close\(\)-or-Dispose\(\)" ignoreCase="true" />
					<action type="Redirect" url="/2014/04/07/Memory-Streams-to-Close-or-Dispose" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2013/11/12/Single-Quotes-Ticks-in-Content-Disposition-Header" stopProcessing="true">
					<match url="2013/11/12/Single-QuotesTicks-in-Content-Disposition-Header" ignoreCase="true" />
					<action type="Redirect" url="/2013/11/12/Single-Quotes-Ticks-in-Content-Disposition-Header" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2013/04/17/Installing-the-IE7-Developer-Tools-for-Spoonnet" stopProcessing="true">
					<match url="2013/04/17/Installing-the-IE7-Developer-Tools-for-Spoonnet" ignoreCase="true" />
					<action type="Redirect" url="/2013/04/17/Installing-the-IE7-Developer-Tools-for-Spoon-net" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2013/03/03/Nissan-Altima-Key-Testing" stopProcessing="true">
					<match url="2013/03/03/Nissan-Altima-Key-Testing" ignoreCase="true" />
					<action type="Redirect" url="/2013/03/03/Nissan-Altima-Key-Testing" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2012/12/28/Comparing-Efficiency-of-Two-SQL-Commands" stopProcessing="true">
					<match url="2012/12/28/Comparing-Efficiency-of-Two-SQL-Commands" ignoreCase="true" />
					<action type="Redirect" url="/2012/12/28/Comparing-Efficiency-of-Two-SQL-Commands" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2012/07/26/Nokia-Lumia-900-Review" stopProcessing="true">
					<match url="2012/07/26/Nokia-Lumia-900-Review" ignoreCase="true" />
					<action type="Redirect" url="/2012/07/27/Nokia-Lumia-900-Review" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2012/05/07/Microsoft-LifeChat-LX-3000-Headset-Review" stopProcessing="true">
					<match url="2012/05/07/Microsoft-LifeChat-LX-3000-Headset-Review" ignoreCase="true" />
					<action type="Redirect" url="/2012/05/07/Microsoft-LifeChat-LX-3000-Headset-Review" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2012/03/19/Who-is-that-Guy-at-the-Top-of-the-Page" stopProcessing="true">
					<match url="2012/03/19/Who-is-that-Guy-at-the-Top-of-the-Page" ignoreCase="true" />
					<action type="Redirect" url="/2012/03/19/Who-is-that-Guy-at-the-Top-of-the-Page" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2011/08/16/Programmatically-Updating-Appconfig-in-Console-Applications" stopProcessing="true">
					<match url="2011/08/16/Programmatically-Updating-Appconfig-in-Console-Applications" ignoreCase="true" />
					<action type="Redirect" url="/2011/08/17/Programmatically-Updating-App-config-in-Console-Applications" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2011/05/12/Synchronizing-SQL-Logins" stopProcessing="true">
					<match url="2011/05/12/Synchronizing-SQL-Logins" ignoreCase="true" />
					<action type="Redirect" url="/2011/05/12/Synchronizing-SQL-Logins" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2011/02/10/Using-C-Sharp-Return-Codes-in-Batch-Files" stopProcessing="true">
					<match url="2011/02/10/Using-C-Sharp-Return-Codes-in-Batch-Files" ignoreCase="true" />
					<action type="Redirect" url="/2011/02/10/Using-C-Return-Codes-in-Batch-Files" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2010/09/07/Using-pool-ntp-org-as-Your-External-Time-Source" stopProcessing="true">
					<match url="2010/09/07/Using-pool-ntp-org-as-Your-External-Time-Source" ignoreCase="true" />
					<action type="Redirect" url="/2010/09/07/Using-pool-ntp-org-as-Your-External-Time-Source" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2010/03/04/Subtracting-Dates-in-CSharp-and-SQL" stopProcessing="true">
					<match url="2010/03/04/Subtracting-Dates-in-CSharp-and-SQL" ignoreCase="true" />
					<action type="Redirect" url="/2010/03/04/Subtracting-Dates-in-C-and-SQL" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2010/02/17/Programatically-Retrieving-IP-Addresses-on-Windows-7" stopProcessing="true">
					<match url="2010/02/17/Programatically-Retrieving-IP-Addresses-on-Windows-7" ignoreCase="true" />
					<action type="Redirect" url="/2010/02/17/Programatically-Retrieving-IP-Addresses-on-Windows-7" redirectType="Permanent" />
				</rule>
				<rule name="Rewrite 2010/01/31/Custom-Attributes-When-Using-HtmlTextBoxFor" stopProcessing="true">
					<match url="2010/01/31/Custom-Attributes-When-Using-HtmlTextBoxFor" ignoreCase="true" />
					<action type="Redirect" url="/2010/01/31/Custom-Attributes-When-Using-Html-TextBoxFor" redirectType="Permanent" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>